.introduccion {
background-image:url(https://data.whicdn.com/images/69799605/large.jpg);
background-position: left;
background-size: cover;
float: left;
background-color: rgb(255, 189, 238);
font-family: 'Amatic SC', cursive;
}

.inicio{
    background-color: rgb(177, 230, 247);
    font-family: 'Amatic SC', cursive;
    text-align: center;
}